html, body {
  font-family: 'Fira Code', monospace;
  /* background-color:rgb(218, 216, 216); */
  background-color: #2b2a2a;
  color: white;
  /* background-color:white; */
  overflow-x: hidden;
}

.container {
  /* top right bottom left */
  /* max-width:1200px; */
  max-width: 100vw;
  background-color: '#bdbdbd';
}

.nav-container {
  margin: 0px 2% 0px 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navLogo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navButtons {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(https://res.cloudinary.com/dmgp6exro/image/upload/v1565100521/Portfolio/singapore.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 7%;
}

.home .imgCover {
  background: rgba(114, 99, 248, 0.699);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.home .textBox {
  width: 80vw;
  height: 30vh;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  text-align: center;
}

.home .textBox h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin: 0 10% 0 10%;
}

.home .textBox h3 {
  font-weight: 300;
  font-size: 2em;
  margin: 0 10% 0 10%;
}

/* About Page */
.aboutPage {
  max-width: 95vw;
  margin: 0px auto 0px auto;
  text-align: center;
}

.aboutPage .aboutMeTitle, .aboutPage .skillsTitle {
  font-weight: 300;
  font-size: 2.5em;
}

.aboutPage hr {
  width: 50vw;
  margin-bottom: 5%;
}

.aboutPage .profile-pic {
  width: 80%;
  border-radius: 6%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutPage .aboutInfo {
  text-align: left;
  font-weight: 300;
  width: 500px;
  height: 500px;
}

.aboutPage .aboutInfo .school {
  color: #8661c5;
  font-size: 1.1em;
}

.aboutPage .aboutInfo .portfolioLink, .aboutPage .aboutInfo .emailLink {
  color: #94ff9a;
  text-decoration: underline;
}

.aboutPage .title {
  color: #673ab7;
  display: inline;
}

.aboutPage .homeSocialLinks {
  width: 400px;
  background-color: #e0e0e0;
  text-align: center;
}

.aboutPage .socialIcons {
  font-size: 3.5em;
  color: #673ab7;
  width: 90%;
  margin: 0 auto;
}

.aboutPage a {
  text-decoration: none;
}

.aboutPage a .fa-linkedin {
  color: #0077B5;
}

.aboutPage a .fa-github {
  color: #673ab7;
}

.aboutPage a .fa-instagram {
  color: #C13584;
}

.aboutPage a .fa-facebook-square {
  color: #3b5998;
}

.aboutPage a i {
  margin: 0 5% 0 5%;
}

.aboutPage a i:hover {
  color: black;
  cursor: pointer;
}

.aboutPage h4 {
  text-align: left;
  color: #673ab7;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.aboutPage .skillsPaper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 10px 0;
}

.aboutPage .skillsPaper .item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.aboutPage .skillsPaper .caption {
  display: block;
}

.aboutPage .skillsPaper .column {
  width: 100%;
}

.aboutPage .skillsIcon {
  width: 60px;
  height: 60px;
}

.skillsPage {
  background-color: #494848;
  padding-top: 10%;
  max-width: 100vw;
  padding: 10% 8% 10% 8%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  text-align: center;
}

.skillsPage .skillsTitle {
  font-weight: 300;
  font-size: 2.5em;
}

.skillsPage hr {
  width: 50vw;
  margin-bottom: 5%;
}

.skillsPage h4 {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.skillsPage .skillsPaper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 10px 0;
}

.skillsPage .skillsPaper .item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.skillsPage .skillsPaper .caption {
  display: block;
  padding-bottom: 10px;
}

.skillsPage .skillsPaper .column {
  width: 100%;
}

.skillsPage .skillsIcon {
  padding: 10px 0 0px 0;
  width: 60px;
  height: 60px;
}

.projectsPage {
  max-width: 100vw;
  padding: 5% 3% 10% 3%;
  margin-left: auto;
  margin-right: auto;
}

.projectsPage .projectsPageTitle {
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  padding-top: 2.5%;
  padding-bottom: 1.5%;
}

.projectsPage .projectsPageTitle2 {
  text-align: center;
  font-weight: 300;
  font-size: 1.3em;
}

.projectsPage .projectToggleDiv {
  margin: auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsPage .projectToggleDiv .projectsToggleSoftware {
  margin-left: 0;
  margin-right: auto;
  font-size: 1.5em;
}

.projectsPage .projectToggleDiv .projectsToggleChemical {
  margin-right: 0;
  margin-left: auto;
  font-size: 1.5em;
}

.projectsPage .projectToggleDiv .projectsToggleSoftware:hover, .projectsPage .projectToggleDiv .projectsToggleChemical:hover {
  color: #f73378;
  cursor: pointer;
}

.projectsPage hr {
  border-bottom: 1px solid white;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.projectsPage .websitePic {
  width: 90%;
  margin-left: 5%;
}

.projectsPage .projectTitle {
  padding-top: -5%;
  color: #f73378;
}

.projectsPage p {
  font-size: 1.1em;
}

.projectsPage .readMoreBtn {
  border: 2px solid #673ab7;
  background-color: white;
  color: #673ab7;
  font-weight: 600;
}

.projectsPage .launchIcon, .projectsPage .githubIcon {
  color: #8561c5;
  font-size: 2em;
}

.projectsPage .launchIcon:hover, .projectsPage .githubIcon:hover {
  color: white;
}

.projectsPage .skillsPaper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projectsPage .skillsPaper .item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 2%;
}

.projectsPage .skillsPaper .caption {
  display: block;
  padding-bottom: 10px;
}

.projectsPage .skillsPaper .column {
  width: 100%;
}

.projectsPage .skillsIcon {
  padding: 10px 0 0px 0;
  width: 60px;
  height: 60px;
}

.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(114, 99, 248, 0.85)), to(rgba(114, 99, 248, 0.85))), url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background: linear-gradient(rgba(114, 99, 248, 0.85), rgba(114, 99, 248, 0.85)), url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 3%;
}

.contact h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  padding-top: 2.5%;
  padding-bottom: 1.5%;
}

.contact hr {
  width: 50vw;
  margin-bottom: 5%;
}

.contact .socialIcons {
  z-index: 4;
  font-size: 3em;
  width: 90%;
  margin: 0 auto;
}

.contact .socialIcons i {
  margin: 0 5% 0 5%;
  color: white;
}

.contact .socialIcons i:hover {
  color: black;
  cursor: pointer;
}

.contact .submitBtn {
  margin-top: 3%;
  font-size: 1.5em;
  background-color: white;
  color: #673ab7;
}

.contact .submitBtn:hover {
  background-color: black;
}

footer {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
}

@media (min-width: 850px) {
  .navButtons {
    display: block;
  }
  .menuButton {
    display: none;
  }
  .aboutPage {
    width: 90vw;
  }
  .aboutPage hr {
    width: 30vw;
  }
  .skillsPage {
    padding: 10% 12% 10% 12%;
  }
  .projectsPage {
    width: 85%;
  }
  .projectsPage .projectToggleDiv {
    width: 60%;
  }
  .projectsPage .projectToggleDiv .projectsToggleSoftware, .projectsPage .projectToggleDiv .projectsToggleChemical {
    font-size: 2em;
  }
  .contact {
    padding: 10% 14% 10% 14%;
  }
}
/*# sourceMappingURL=App.css.map */